body {
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    }
    
    .nav-item { 
        font-family: 'open sans';
        color: white;
    }
    
    .col-md-12 h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 700;
        color: darkorange;
        text-transform: uppercase;
    }
    
    .col-md-4 p {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
        font-family: 'open sans';
        color: grey;
    }
    
    .col-md-4 h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
    }
    
.cardapioimg{
    width: 320px;
    height: 205px;
}

.bannerimg{
    width: 320px;
    height: 420px;
}